<article class="post">
<a href="/post/{{id}}">

  <div class="title text-white">
    <div>{{title}}</div>
    <span>{{post_text}}</span>
  </div>
  <div class="meta text-white">
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |

      <div>{{comments.length}}
      {{format_plural "comment" comments.length}}</div>
  </div>

</a>


</article>


