<article class="post">
  <div class="title">
    <div>{{title}}</div>
    <span>{{post_text}}</span>
  </div>
  <div class="meta">
    by
    {{user.username}}
    {{!-- This section not working --}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>